@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
:root {
  /*FONTS*/
  --pr5-primary-font: 'Righteous';
  /*BRANDING COLORS*/
  --pr5-color-1: #d1fe2d;
  --pr5-color-2: #057f1b;
  --pr5-color-3: #f0facb;
  --pr5-color-4: #261893;
  /*BACKGROUND-COLORS*/
  --heading: var(--pr5-color-4);
  --body: var(--pr5-color-3);
  /*BORDER RADIUS */
  --pr5-br: 12px;
  /*SPACINGS*/
  --pr5-padding-xs: 0.5rem;
  --pr5-padding-s: 1rem;
  --pr5-padding-m: 2rem;

  --pr5-margin-xs: 0.5rem;
  --pr5-margin-s: 1rem;
  --pr5-margin-m: 2rem;

  --pr5-gap-xs: 0.5rem;
  --pr5-gap-s: 1rem;
  --pr5-gap-m: 2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  font-family: 'Righteous';
  background-color: var(--body);
  color: var(--pr5-color-4);
}
main{
    height: calc(100vh - 80px - 40px);
}
.content{
 margin: rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: url('./src/assets/gato.png'), auto;
  min-height: calc(100vh - 200px);
}
.portada{
  width: 100vh;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}